<div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/leagues/league" method="POST">
                        <div class="form-group">
                            <h5 class="mt-3">Presidente de la Liga barrial</h5>
                            <input type="text" class="form-control" name="boss" placeholder="Presidente de la Liga barrial"
                                autofocus>
                        </div>
                        <br>
                        <div class="form-grou">
                            <h5 class="mt-3">Categoria</h5>
                            <input type="text" name="category" class="form-control"
                                placeholder="categoria de la liga barrial">
                        </div>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Numeros de Equipos</h5>
                            <input type="text" name="number_teams" class="form-control"
                                placeholder="Numeros de Equipos ">
                        </div>
                        <br>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Ciudad</h5>
                            <input type="text" name="city" class="form-control"
                                placeholder="ciudad ">
                        </div>
                        <div class="form-group mt-3 d-grid">
                            <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>