<link rel="stylesheet" href="/css/slider.css">


<div class="container">

    <ul class="slider">
        <li id="slide1">
            <img src="/img/fondo.jpg" />
            <center>
                <h2>Bienvenido a Social Soccer</h2>
            </center>
        </li>
        <li id="slide2">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg" />
        </li>
        <li id="slide3">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3947459/sunset.jpg" />

        </li>
    </ul>
    <br>
    <ul class="menu">
        <li>
            <a href="#slide1">1</a>
        </li>
        <li>
            <a href="#slide2">2</a>
        </li>
        <li>
            <a href="#slide3">3</a>
        </li>
    </ul>

</div>