<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/stadiums/stadium" method="POST">
                        <div class="form-group">
                            <h5 class="mt-3">Nombre del Estadio</h5>
                            <input type="text" class="form-control" name="name" placeholder="Nombre del Estadio"
                                autofocus>
                        </div>
                        <br>
                        <div class="form-grou">
                            <h5 class="mt-3">Precio del estadio</h5>
                            <input type="text" name="price" class="form-control"
                                placeholder="precio del estadio ">
                        </div>
                        <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Capacidad del estadio</h5>
                            <input type="text" name="ability" class="form-control"
                                placeholder="capacidad del estadio ">
                        </div>
                         <div class="form-grou">
                            <br>
                            <h5 class="mt-3">Ubicacion del estadio</h5>
                            <input type="text" name="location" class="form-control"
                                placeholder="ubicacion del estadio ">
                        </div>
                        <br>
                        <div class="form-group mt-3 d-grid">
                            <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>