{{!-- <div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card ">
            <div class="card-body">
                <form action="/teams/team" method="POST">
                    <div class="form-group">
                        <label for="nombre">Nombre del Equipo:</label>
                        <input type="text" class="form-control" name="squad" placeholder="nombre del equipo" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="equipo">Nombre del due単o:</label>
                        <input type="text" class="form-control" name="boss" placeholder="Nombre del due単o del equipo" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="equipo">Categoria:</label>
                        <input type="text" class="form-control" name="category" placeholder="categoria" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="edad">Fecha de fundacion:</label>
                        <input type="date" class="form-control" name="foundation" placeholder="fecha de fundacion" autofocus>
                    </div>
                    <div class="form-group mt-3 d-grid">
                        <button type="submit" class="btn btn-success btn-block"> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> --}}

<link rel="stylesheet" href="/css/forms.css">

<div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a href="/teams" rel="dofollow">Agregar Equipo</a></h1>
    </div>
    <div class="formbg-outer">
        <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
                <form action="/teams/team" method="POST" id="stripe-login">
                    <div class="field padding-bottom--24">
                        <p>Nombre del Equipo</p>
                        <input type="text" class="form-control" name="squad" placeholder="nombre del equipo" autofocus>
                    </div>

                    <div class="field padding-bottom--24">
                        <p>Nombre del due単o</p>
                        <input type="text" class="form-control" name="boss" placeholder="Nombre del due単o del equipo" autofocus>
                    </div>

                    <div class="field padding-bottom--24">
                        <p>Categoria</p>
                        <input type="text" class="form-control" name="category" placeholder="categoria" autofocus>
                    </div>

                    <div class="field padding-bottom--24">
                        <p>Fecha de fundacion</p>
                        <input type="date" class="form-control" name="foundation" placeholder="fecha de fundacion" autofocus>
                    </div>
                    <div class="field padding-bottom--24">
                        <input type="submit" name="submit" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
     <br><br>
    </div>
</div>
